.item-list {
  width: 100%;
  white-space: nowrap;
}

.table-row {
  border-bottom: 1px solid #999;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

th {
  color: #888;
  font-weight: 400;
}

.actions{
  display: flex;
  justify-content: space-between;
}
.edit {
  cursor: pointer;
}

.delete {
  cursor: pointer;
}

td, th {
  width: 11%;
  text-align: left;
 
  }